<!DOCTYPE html>
<html>
  <head>
    <title> AMBIENTE SEMED - GEDUC GESTÃO EDUCACIONAL </title>
    <meta charset="utf-8">
    <link rel="manifest" href="manifest.json?appver=730">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    
    <!-- Third part libraries required by Adianti Framework -->
    <script src="lib/jquery/js/jquery.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js?afver=760"></script>
    <script src="lib/bootstrap/js/bootstrap-plugins.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datepicker.pt.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/locales/bootstrap-datetimepicker.pt.js?afver=760" type="text/javascript"></script>
    <script src="lib/bootstrap/js/lang/summernote-pt-BR.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-ui.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/jquery/js/jquery-plugins.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/jquery/js/select2_locale_pt.js?afver=760" type="text/javascript"></script>
    <script src="lib/independent/js/independent-plugins.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/independent/js/fullcalendar-pt.js?afver=760" type="text/javascript"></script>
    
    <!-- Adianti Framework core and components -->
    <script src="lib/adianti/include/adianti.min.js?afver=760" type="text/javascript"></script>
    <script src="lib/adianti/include/components.min.js?afver=760" type="text/javascript"></script>
    
    <!-- Application custom Javascript (Optional) -->
    <script src="app/lib/include/application.js?appver=760" type="text/javascript"></script>
    
    <!-- Third part CSS required by Adianti Framework -->
    <link href="lib/jquery/css/jquery-ui.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/jquery/css/jquery-plugins.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/bootstrap.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/bootstrap/css/boostrap-plugins.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/independent/css/independent-plugins.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Adianti Framework Components CSS -->
    <link href="lib/adianti/include/adianti.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    <link href="lib/adianti/include/components.min.css?afver=760" rel="stylesheet" type="text/css" media="screen" />
    
    <!-- Application custom CSS -->
    <link href="app/templates/theme4/application.css?appver=760" rel="stylesheet" type="text/css" media="screen">

    
    
    <link href="app/templates/theme4/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="app/templates/theme4/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="app/templates/theme4/css/style.css" rel="stylesheet">
    <link href="app/templates/theme4/css/themes/all-themes.css" rel="stylesheet" />
    <link href="app/lib/include/admin.min.css?appver=730" rel="stylesheet" type="text/css" media="screen">
    <style>
    html
    {
        height: unset;
    }
    </style>
    
    <script>
    $(function() {
        __adianti_set_language('pt');
        __adianti_set_debug(0);
    });
    </script>
  </head>
  <body id="body" style="overflow: hidden;background-image:url(app/templates/theme4/images/fundo05.jpg); background-size: cover;background-attachment: fixed, scroll;background-repeat: no-repeat, repeat-y;text-align:center">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-indigo">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Carregando...</p>
            </div>
        </div>
        <!-- #END# Page Loader -->
        
        
        
        <div id="wrapper" style="width:90%;margin:auto;margin-top:10px">
            <!-- Navigation -->
    
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
        </div>
       
        <!-- /#wrapper -->
        
        <script src="app/templates/theme4/js/admin-login.js"></script>
    </body>
</html>
<script type='text/javascript'>setTimeout( function() { __adianti_load_page('index.php?class=LoginForm&q=%2Fapp%2Fresources%2Fcustom-frame.css'); }, 1 )</script>